
.Nav{
    position: fixed;
    top: 0px;
    left: 64px;
    width: 100%;
    height: 45px;
    display: block;
    background-color: green;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  

    
    
}
.Nav div{
    display: flex;
  align-items: center;
  font-size: 1.4em;
  color: aliceblue;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 4%;

}
.Nav Link{
    text-decoration: none;
}